#game_container 
{
    width: 700px;
    height: 700px;
    background-color: beige;
    //border: 1px solid black;
    position: relative;
    float: left;
}

#board_shade 
{
    position: absolute;
    z-index: 2;
    background: black; 
    opacity: 0.7;
    height: 700px;
    width: 700px;
    top: 0;
    left: 0;
}

#board_popup
{
    position: absolute;
    z-index: 3;
    background: white;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 100px;
}

#board 
{
    background: #D5FBFF; 
    box-shadow: inset 0 0 10px #2F3738;
}

#side
{
    position: relative;
    background-color:#647678;
    height:700px;
    width:150px;
    float:left;
    box-shadow: 0 0 10px  #2F3738;
}

#bottom
{
    background-color:#647678;
    height:150px;
    width:850px;
    color:white;
    clear:both;
    box-shadow: 0 0 10px #2F3738;
}

#dice_bg
{
    margin: 0 10px;
    background-color: white;
    height: 32px;
    width: 69px;
    box-shadow: 0px 0px 10px  #000000;
}

#blank_div
{
    height: 25px;
    width: 150px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2F3738;
    width: 850px;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #2A3C44;
}

.active {
    color: black;
    background-color: #9FBCBF;
}

ul2.vertical
{
    margin: 0;
    padding: 0;
    float: right;
}

ul2.vertical button
{
    display: block;
    margin: 0 0 3px 0;
    padding: 0 10px; 
    background-color: #9FBCBF;
    font-family: "Times New Roman", Times, serif;
    font-size: 100%;
    padding: 1px;
    width: 150px;    
    box-shadow: 0 0 5px #2F3738;
    border-bottom-left-radius:1em;
    border-bottom-right-radius:1em;
    border-top-left-radius:1em;
    border-top-right-radius:1em;
}

ul2.vertical h1
{
    display: block;
    padding: 0 10px; 
    background-color: #9FBCBF;
    font-family: "Times New Roman", Times, serif;
    font-size: 100%;
    text-align: center;
    color: black;
    padding: 2px;
    width: 150px;    
    border: none;
    box-shadow: 0 0 5px #2F3738;
}

h2
{
    font-size: 18px;
    box-shadow: 0 0 5px #2F3738;
    padding: 4px;
}

h3
{
    margin: 0; 
    padding: 10px 30px; 
    color: white;
    float: right;
}

.pp
{
    margin: 0px 10px;
}

.pp span
{
    float:right; 
    margin: 0px 10px;
}

.rcard
{
    margin: 20px 2px;
    box-shadow: 0 0 5px #2F3738;
}


Red {background-color: red;}
Blue {background-color: blue;}
Orange {background-color: orange;}
White {background-color: white;}

td { height: 100%;}
.bg { background-color: #f00; width: 100%; height: 100%; display: block; }

